spring:
  application:
    name: order-service
  cloud:
    kubernetes:
      reload:
        enabled: true
        strategy: restart_context

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    restart:
      enabled: true

opentracing:
  jaeger:
    log-spans: true
    http-sender:
      url: http://localhost:14268/api/traces

ribbon:
  http:
    client:
      enabled: true
